on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ master ]

name: binaries

jobs:
  # release binaries
  release-bins:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        targets:
          - x86_64-unknown-linux-gnu
          - armv7-unknown-linux-gnueabihf

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --workspace --release --target ${{ matrix.targets }}

      - name: archive
        run: |
          tar -czvf dump1090_rs-${{ matrix.targets }}.tar.gz \
              -C target/${{ matrix.targets }}/release/ dump1090_rs

      - uses: actions/upload-artifact@v2
        with:
          name: dump1090_rs-${{ matrix.targets }}.tar.gz
          path: dump1090_rs-${{ matrix.targets }}.tar.gz

      - name: Upload binary to release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dump1090_rs-${{ matrix.targets }}.tar.gz
          asset_name: dump1090_rs-${{ matrix.targets }}.tar.gz
          tag: ${{ github.ref }}
          overwrite: true
